<div>
  <%= image_tag @post_image.get_image %>
  <p>タイトル：<%= @post_image.title %></p>
  <p>本文：<%= @post_image.body %></p>
  <p>投稿ユーザー画像：<%= image_tag @post_image.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @post_image.user.name %></p>
  <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post_image.user == current_user %>
    <%= link_to "削除", post_image_path(@post_image), method: :delete %>
  <% end %>
</div>

<!--いいねボタン非同期通信-->
<div id="favorite_buttons_<%= @post_image.id %>"><%= render 'favorites/favorite-btn', post_image: @post_image %></div>

<!--ここからはコメント機能-->
<div class="new-comment"><%= render 'post_comments/form', post_image: @post_image, post_comment: @post_comment %></div>
<div class="comments_area"><%= render 'post_comments/post_comments', post_image: @post_image %></div>
